In [2]:
import pandas as pd
from pandas import concat

In [56]:
df = pd.read_csv('dados/ESPORTISTAS_MOD7.csv', delimiter = ';')

# EXPLORAÇÃO ESTRUTURAL DOS DADOS
print(df.head(5), '\n')

print(f'Quantidade Linhas: {df.shape[0]}\nQuantidade de Colunas: {df.shape[1]}\n')
print(df.info()) # ---> QTD de registros nulos, não nulos e tipagem de cada coluna

              Atleta   Esporte  Ganhos_Totais
0       Lionel Messi   Futebol            639
1       Lebron James  Basquete            595
2  Cristiano Ronaldo   Futebol            565
3          Neymar Jr   Futebol            467
4      Stephen Curry  Basquete            452

Quantidade Linhas: 25
Quantidade de Colunas: 3

<class 'pandas.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Atleta         25 non-null     str
 1   Esporte        25 non-null     str
 2   Ganhos_Totais  25 non-null     int64
dtypes: int64(1), str(2)
memory usage: 732.0 bytes
None

## ANÁLISE DOS DADOS

In [223]:
# AGRUPANDO A QUANTIDADE DE ATLETAS DE CADA ESPORTE E DESCOBRINDO SUA REPRESENTATIVIDADE
atletas_por_esporte1 = df.groupby('Esporte')['Atleta'].count().reset_index().sort_values(by = 'Atleta', ascending = False)
total_atletas = atletas_por_esporte1['Atleta'].sum() # --> Retorna o número total de atletas

atletas_por_esporte1['Proporção[%]'] = (atletas_por_esporte1['Atleta'] / total_atletas) * 100 # ---> Adicionando uma nova coluna com a representatividade

print(atletas_por_esporte1, '\n')

# OUTRA FORMA DE CALCULAR O PERCENTUAL - NÃO CONSEGUI ENCAIXAR NO CÓDIGO ACIMA
representatividade = df['Esporte'].value_counts(normalize = True).reset_index()
print(representatividade, '\n')

             Esporte  Atleta  Proporção[%]
1           Basquete       8          32.0
5  Futebol Americano       7          28.0
4            Futebol       3          12.0
3               Boxe       2           8.0
7              Tenis       2           8.0
0      Automobilismo       1           4.0
2           Beisebol       1           4.0
6              Golfe       1           4.0

             Esporte  proportion
0           Basquete        0.32
1  Futebol Americano        0.28
2            Futebol        0.12
3              Tenis        0.08
4               Boxe        0.08
5              Golfe        0.04
6      Automobilismo        0.04
7           Beisebol        0.04


# 1) Média

In [265]:
# TIRANDO A MÉDIA
print(f'Média de ganhos dos atletas: R$ {df['Ganhos_Totais'].mean():.0f} milhões/ano')

# MÉDIA DE GANHOS POR ESPORTE
media_ganhos = df.groupby('Esporte')['Ganhos_Totais'].mean().reset_index().sort_values(by = 'Ganhos_Totais', ascending = False)
# media_ganhos.rename(columns = {'Ganhos_Totais': 'Média Ganhos'}, inplace = True) # ---> RENOMEANDO A COLUNA DE GANHOS_TOTAIS

# JUNTANDO AS TABELAS
# atletas_por_esporte1 = atletas_por_esporte1.merge(media_ganhos, on = 'Esporte')


print('\nMÉDIA POR ESPORTE\n', media_ganhos, '\n')
print('JUNTANDO TUDO EM UMA TABELA\n', atletas_por_esporte1.sort_values(by = 'Média Ganhos', ascending = False))

Média de ganhos dos atletas: R$ 377 milhões/ano

MÉDIA POR ESPORTE
              Esporte  Ganhos_Totais
4            Futebol          557.0
1           Basquete          400.5
3               Boxe          373.5
7              Tenis          366.0
6              Golfe          334.0
0      Automobilismo          319.0
5  Futebol Americano          311.0
2           Beisebol          241.0

JUNTANDO TUDO EM UMA TABELA
              Esporte  Atleta  Proporção[%]  Média Ganhos
2            Futebol       3          12.0         557.0
0           Basquete       8          32.0         400.5
3               Boxe       2           8.0         373.5
4              Tenis       2           8.0         366.0
7              Golfe       1           4.0         334.0
5      Automobilismo       1           4.0         319.0
1  Futebol Americano       7          28.0         311.0
6           Beisebol       1           4.0         241.0

## 2) MEDIANA

In [316]:
# MEDIANA DOS ATLETAS
print(f'Média: R$ {df['Ganhos_Totais'].mean():.0f} milhões/ano')
print(f'A mediana dos atletas é: R$ {df['Ganhos_Totais'].median():.0f} milhões/ano\n')

mediana_ganhos = df.groupby('Esporte')['Ganhos_Totais'].median().reset_index().sort_values(by = 'Ganhos_Totais', ascending = False)
mediana_ganhos.rename(columns = {'Ganhos_Totais': 'Mediana Ganhos'}, inplace = True)

print(f'MEDIANA POR ESPORTE\n{mediana_ganhos}\n\nNOVA TABELA')

# ADICIONANDO A COLUNA DE MEDIANA A TABELA
# atletas_por_esporte1 = atletas_por_esporte1.merge(mediana_ganhos, on = 'Esporte')

atletas_por_esporte1

Média: R$ 377 milhões/ano
A mediana dos atletas é: R$ 354 milhões/ano

MEDIANA POR ESPORTE
             Esporte  Mediana Ganhos
4            Futebol           565.0
1           Basquete           392.5
3               Boxe           373.5
7              Tenis           366.0
6              Golfe           334.0
5  Futebol Americano           329.0
0      Automobilismo           319.0
2           Beisebol           241.0

NOVA TABELA

             Esporte  Atleta  Proporção[%]  Média Ganhos  Mediana Ganhos
0           Basquete       8          32.0         400.5           392.5
1  Futebol Americano       7          28.0         311.0           329.0
2            Futebol       3          12.0         557.0           565.0
3               Boxe       2           8.0         373.5           373.5
4              Tenis       2           8.0         366.0           366.0
5      Automobilismo       1           4.0         319.0           319.0
6           Beisebol       1           4.0         241.0           241.0
7              Golfe       1           4.0         334.0           334.0

## 3) MODA

In [326]:
# TIRANDO A MODA DE ESPORTE
moda = df['Esporte'].mode()
print(f'A moda é: {moda[0]}')

A moda é: Basquete

## 4) DESVIO PADRÃO

- Alguns valores é normal dar erro (NaN) por conta que o desvio padrão precisa de múltiplos valores para ser calculado

In [345]:
print(f'O desvio padrão dos salários é de: R$ {df['Ganhos_Totais'].std():.0f} milhões/ano')

std_ganhos = df.groupby('Esporte')['Ganhos_Totais'].std().reset_index().sort_values(by = 'Ganhos_Totais', ascending = False)
std_ganhos.rename(columns = {'Ganhos_Totais': 'Desvio Padrão'}, inplace = True)
std_ganhos['Desvio Padrão'] = std_ganhos['Desvio Padrão'].round(2) # ---> ARREDONDANDO OS VALORES DO DESVIO PADRÃO
print(f'DESVIO PADRÃO POR ESPORTE\n{std_ganhos}\n\nNOVA TABELA')

# atletas_por_esporte1 = atletas_por_esporte1.merge(std_ganhos, on = 'Esporte')

# TRATANDO OS VALORES QUE DERAM ERRO
atletas_por_esporte1['Desvio Padrão'] = atletas_por_esporte1['Desvio Padrão'].fillna(0)

atletas_por_esporte1

O desvio padrão dos salários é de: R$ 110 milhões/ano
DESVIO PADRÃO POR ESPORTE
             Esporte  Desvio Padrão
7              Tenis         107.48
1           Basquete         103.41
3               Boxe          96.87
4            Futebol          86.28
5  Futebol Americano          62.96
0      Automobilismo            NaN
2           Beisebol            NaN
6              Golfe            NaN

NOVA TABELA

,Esporte,Atleta,Proporção[%],Média Ganhos,Mediana Ganhos,Desvio Padrão
0,Basquete,8,32.0,400.5,392.5,103.41
1,Futebol Americano,7,28.0,311.0,329.0,62.96
2,Futebol,3,12.0,557.0,565.0,86.28
3,Boxe,2,8.0,373.5,373.5,96.87
4,Tenis,2,8.0,366.0,366.0,107.48
5,Automobilismo,1,4.0,319.0,319.0,0.00
6,Beisebol,1,4.0,241.0,241.0,0.00
7,Golfe,1,4.0,334.0,334.0,0.00

# DESCRIBE( ) ---> CALCULA TUDO

- **Ponto importante:** describe( ) apenas funciona em colunas numéricas

In [357]:
# APLICANDO O DESCRIBE NA COLUNA GANHOS TOTAIS
print(f'DADO BRUTO\n{df['Ganhos_Totais'].describe()}\n\nDESCRIBE COM GROUPBY NO ESPORTE')

# USANDO O DESCRIBE COM O GROUPBY
print(f'{df.groupby('Esporte')['Ganhos_Totais'].describe().reset_index().sort_values(by = 'count', ascending = False).to_string()}')

DADO BRUTO
count     25.000000
mean     377.000000
std      110.029541
min      238.000000
25%      290.000000
50%      354.000000
75%      442.000000
max      639.000000
Name: Ganhos_Totais, dtype: float64

DESCRIBE COM GROUPBY NO ESPORTE
             Esporte  count   mean         std    min     25%    50%     75%    max
1           Basquete    8.0  400.5  103.414561  273.0  344.25  392.5  452.00  595.0
5  Futebol Americano    7.0  311.0   62.960305  238.0  257.00  329.0  344.00  408.0
4            Futebol    3.0  557.0   86.278618  467.0  516.00  565.0  602.00  639.0
3               Boxe    2.0  373.5   96.873629  305.0  339.25  373.5  407.75  442.0
7              Tenis    2.0  366.0  107.480231  290.0  328.00  366.0  404.00  442.0
0      Automobilismo    1.0  319.0         NaN  319.0  319.00  319.0  319.00  319.0
2           Beisebol    1.0  241.0         NaN  241.0  241.00  241.0  241.00  241.0
6              Golfe    1.0  334.0         NaN  334.0  334.00  334.0  334.00  334.0